.aside .logo a::before{
    border-top: 3px solid #ffb400;
    border-left: 3px solid #ffb400;
} 
.aside .logo a::after{
    border-bottom: 3px solid #ffb400;
    border-right: 3px solid #ffb400;
} 
.aside .nav li a:hover, 
.aside .nav li a.active,
.about .about-content .about-text h3 span,
.service .service-item .service-item-inner .icon,
.portfolio .portfolio-filter button.active,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.lightbox .lightbox-controls .next-item,
.lightbox .lightbox-controls .prev-item,
.blog .blog-item-inner .blog-info .blog-tags a,
.contact .contact-info-item .icon .fa,
body.dark .aside .nav li a.active,
body.dark .aside .nav li a:hover{
    color: #ffb400;
}
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a,
.section-title h2::before,
.section-title h2::after,
.btn,
.about .about-content .skills .skill-item .progress-in,
.about .about-content .timeline::before,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.service .service-item .service-item-inner:hover .icon,
.blog .blog-item-inner .blog-img .blog-date
{
    background-color: #ffb400;
}

.portfolio .portfolio-filter button.active{
    border-color: #ffb400;
}